# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.tspazylbnsmciiqpdsyi:+7ArG3SH&N7Wv@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.tspazylbnsmciiqpdsyi:+7ArG3SH&N7Wv@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="replace-with-secure-admin-password"
SESSION_SECRET="replace-with-at-least-32-random-characters"
FILE_STORAGE_PROVIDER="uploadthing"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_SUPABASE_BUCKET="event-registration-documents"
